@using podcache.Data.Domain
<div class="col-xs-4 col-sm-4 col-md-3">
  <div class="item">
    <div class="item-media rounded ">
      <a href="artist.detail.html?" class="item-media-content" style="background-image: url('images/Louis C.K..jpg');"></a>
    </div>
    <div class="item-info text-center">
      <div class="item-title text-ellipsis">
        <a href="artist.detail.html">Louis C.K.</a>
        <div class="text-sm text-muted">13 songs</div>
      </div>
    </div>
  </div>
</div>

@code {

}